html:not(.gss-ready) {
  opacity:0;
}

#container {
  overflow: hidden;
  border-radius: 5px;
}

#image {

}

#face {
  border: 1px dotted red;
}

#copyright {
  text-align: right;
  vertical-align: bottom;
}